body[b-27auuzay78] {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html[b-27auuzay78] {
    box-sizing: border-box;
}

*[b-27auuzay78], *[b-27auuzay78]:before, *[b-27auuzay78]:after {
    box-sizing: inherit;
}

.column[b-27auuzay78] {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card[b-27auuzay78] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section[b-27auuzay78] {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container[b-27auuzay78] {
    padding: 0 16px;
}

    .container[b-27auuzay78]::after, .row[b-27auuzay78]::after {
        content: "";
        clear: both;
        display: table;
    }

.title[b-27auuzay78] {
    color: grey;
}

.button[b-27auuzay78] {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .button:hover[b-27auuzay78] {
        background-color: #555;
    }

@media screen and (max-width: 650px) {
    .column[b-27auuzay78] {
        width: 100%;
        display: block;
    }
}
