@page "/about"

<div class="about-section">
    <h1>About Us</h1>
    <p>We are two computer science students that likes to write code.</p>
    <p>
        “Computer Science is no more about computers than astronomy is about telescopes.”
        — Edsger W. Dijkstra.
    </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" style="display: flex; justify-content: center; align-items: center; height: 200px;">
    <div class="column">
        <div class="card">
            <img src="https://www.w3schools.com/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Marta Gómez</h2>
                <p class="title">Programmer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>up202003750@edu.fc.up.pt</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/images/IMG_0037.jpg" alt="Yosbi" style="width:100%">
            <div class="container">
                <h2>Yosbi Alves Saenz</h2>
                <p class="title">Programmer</p>
                <p>I just drink coffee and do stuff...</p>
                <p>up201801653@edu.fc.up.pt</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
@{
}
